<br /> <%#todo: css%>
<nav>
  <ul>
    <li>
      <a href="<%= season_path(@season) %>">Season <%= @season.name %>
        <%= " (Current)" if @season.current? %>
      </a>
    </li>
    <li>
      <a href="<%= players_season_path(@season) %>">Players
      </a>
    </li>
    <li>
      <a href="<%= weeks_season_path(@season) %>">Weeks
      </a>
    </li>
  </ul>
</nav>
