<br /> <%#todo: css%>

<nav>
  <ul>
    <li>
      <a href="<%= seasons_path %>"><< All Seasons</a>
    </li>

    <li class="<%= 'active' if params[:action] == 'show' %>">
      <a href="<%= season_path(@season) %>"><%= @season.name %>
        <%= " (Current)" if @season.current? %>
      </a>
    </li>
    <li class="<%= 'active' if params[:action] == 'players' %>">
      <a href="<%= players_season_path(@season) %>">Players
        <%= %>
      </a>
    </li>
    <li class="<%= 'active' if params[:action] == 'weeks' %>">
      <a href="<%= weeks_season_path(@season) %>">Weeks
      </a>
    </li>
    <li class="<%= 'active' if params[:action] == 'dump' %>">
      <a href="<%= dump_season_path(@season) %>">Dump
      </a>
    </li>
  </ul>
</nav>
