<p id="notice"><%= notice %></p>

<h1>Listing Seasons</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>start at</th>
      <th>games</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seasons.each do |season| %>
      <tr>
        <td><%= season.id %></td>
        <td><%= season.start_at %></td>
        <td><%= season.games.count %></td>
        <td><%= link_to 'Show', season %></td>
        <td><%= link_to 'Edit', edit_season_path(season) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Season', new_season_path %>
