<h1>Season <%= @season.name %></h1>

<h2>Weeks</h2>

<% @season.weeks.each_with_index do |week, index| %>
    <table class="player-info">
      <tr>
        <th><%= week.name %></th>
        <% if week.start_at.nil? %>
            <td colspan="3">Before <%= @season.start_at %></td>
        <% else %>
            <td colspan="3"><%= week.start_at %> - <%= week.start_at + 1.week %></td>
        <% end %>

        <td><%= pluralize(week.games.size, "game") %></td>
      </tr>

      <tr>
        <th>team</th>
        <% stats = (Summary::STATS - [:attack_mvp, :defend_mvp])
           stats.each do |stat| %>
            <th><%= stat %></th>
        <% end %>
      </tr>

      <% week.team_summaries.each do |summary| %>
          <tr>
            <th><%= summary.team %></th>

            <% stats.each do |stat| %>
                <td><%= summary.send(stat) %></td>
            <% end %>
          </tr>
      <% end %>

    </table>
    <br/>

    <table class="player-info">
      <tr>
        <th>top attackers</th>
        <% tops = week.all_top_attackers %>
        <td><%= week.player_names(tops) %></td>
        <% unless tops.empty? %>
            <% chosen_one = tops.sample(1) %>
            <td>RANDOM:
              <%= week.player_names(chosen_one) %>
              (id <%= chosen_one.first %>)
            </td>
        <% end %>
      </tr>

      <tr>
        <th>top defenders</th>
        <% tops = week.all_top_defenders %>
        <td><%= week.player_names(tops) %></td>
        <% unless tops.empty? %>
            <% chosen_one = tops.sample(1) %>
            <td>RANDOM:
              <%= week.player_names(chosen_one) %>
              (id <%= chosen_one.first %>)
            </td>
        <% end %>
      </tr>

    </table>
    <br/>
    <hr/>
<% end %>

<h2>Players</h2>

<% Team::ALL.each do |team_name| %>
    <h3><%= team_name.label %></h3>
    <table class="player-info">
      <tr>
        <th>id</th>
        <th>name</th>

        <th>team</th>
        <th>role</th>
        <th>speed</th>
        <th>health</th>
        <th>range</th>

        <th>last synced</th>
      </tr>

      <% players = @season.players.includes(:piece) %>
      <% players.select { |p| p.team == team_name.value.to_s }.each do |player| %>

          <tr>
            <td><%= player.id %></td>
            <td><%= link_to player.name, player_path(player) %></td>

            <td><%= player.team %></td>
            <td><%= player.role %></td>
            <td><%= player.speed %></td>
            <td><%= player.health %></td>
            <td><%= player.range %></td>

            <td><%=
              player.activities_synced_at.try(:strftime, "%A, %B %-d, %Y, %l:%M %p %Z")
            %></td>
          </tr>

      <% end %>
    </table>
<% end %>

