<%= form_for(@team_outcome) do |f| %>
  <% if @team_outcome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_outcome.errors.count, "error") %> prohibited this team_outcome from being saved:</h2>

      <ul>
      <% @team_outcome.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team %><br>
    <%= f.text_field :team %>
  </div>
  <div class="field">
    <%= f.label :deaths %><br>
    <%= f.number_field :deaths %>
  </div>
  <div class="field">
    <%= f.label :takedowns %><br>
    <%= f.number_field :takedowns %>
  </div>
  <div class="field">
    <%= f.label :throws %><br>
    <%= f.number_field :throws %>
  </div>
  <div class="field">
    <%= f.label :captures %><br>
    <%= f.number_field :captures %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
