<p id="notice"><%= notice %></p>

<h1>Listing Team Outcomes</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Deaths</th>
      <th>Takedowns</th>
      <th>Throws</th>
      <th>Captures</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_outcomes.each do |team_outcome| %>
      <tr>
        <td><%= team_outcome.team %></td>
        <td><%= team_outcome.deaths %></td>
        <td><%= team_outcome.takedowns %></td>
        <td><%= team_outcome.throws %></td>
        <td><%= team_outcome.captures %></td>
        <td><%= link_to 'Show', team_outcome %></td>
        <td><%= link_to 'Edit', edit_team_outcome_path(team_outcome) %></td>
        <td><%= link_to 'Destroy', team_outcome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team outcome', new_team_outcome_path %>
